@media screen and (max-width:1102px) {
    .nav-link-title {
        display: none;
    }
    /* .image-card {
        height: 220px;
        width: 200px;
    }
    .image-card img {
        width: 200px;
        height: 150px;
        opacity: 1;
    } */
    /* .search-box .fa {
        font-size: 20px;
    }
    #search-input {
        font-size: 20px;
    }
    .search-box {
        padding: 10px 20px;
    } */
    /* .title h1 {
        font-size: 45px;
    }
    .poster {
        display: flex;
        flex-direction: column-reverse;
    }
    .poster img {
        width: cal(100% - 20px);
        max-height: 400px;
        
    }
    .details {
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .trend-text {
        padding: 0;
        margin-top: 20px;
    }
    .trend-1,
    .trend-1-1,
    .trend-2,
    .trend-2-1 {
        margin: 10px 0px;
    }
    .button {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
    } */
}

@media screen and (max-width:891px) {
    .nav {
        padding: 0;
    }
    .navbar {
        width: 100%;
        display: flex;
        background-color: rgb(238, 8, 8);
        position: fixed;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        bottom: -20px;
        left: 0;
        /* height: 40px; */
        transform: translateY(-50%);
    }
    .nav-link i {
        font-size: 20px;
    }
    .logo {
        padding: 10px;
        display: flex;
        flex-wrap: nowrap;
        margin-left: 10px;
    }
    .search-box {
        margin-right: 20px;
    }
}

@media screen and (max-width:781px) {
    .search-box {
        margin-right: 20px;
    }
    .title h1 {
        font-size: 45px;
    }
    main {
        padding-top: 70px;
        padding-bottom: 75px;
    }
    .poster {
        display: flex;
        flex-direction: column-reverse;
    }
    .poster img {
        width: cal(100% - 20px);
        max-height: 400px;
    }
    .details {
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .trend-text {
        padding: 0;
        margin-top: 20px;
    }
    .trend-1 {
        margin: 10px 0px;
    }
    .button {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
    }
    .image-card {
        height: 280px;
        width: 280px;
    }
    .image-card img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 210px;
    }
    .search-box .fa {
        font-size: 20px;
    }
    #search-input {
        font-size: 20px;
    }
    .search-box {
        padding: 10px 20px;
    }
    .poster-details {
        width: 90%;
        padding: 20px 30px;
    }
}

@media screen and (max-width:460px) {
    .navbar {
        height: 30px;
    }
    .nav-link i {
        font-size: 17px;
    }
    .logo {
        font-size: 25px;
        padding: 10px;
        display: flex;
        flex-wrap: nowrap;
        font-weight: 400;
        /* margin-left: 10px; */
    }
    .search-box {
        padding: 7px 9px;
    }
    #search-input {
        font-size: 13px;
    }
    .search-box .fa {
        font-size: 15px;
    }
    main {
        padding-top: 53px;
    }
    .poster img {
        max-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title h1 {
        font-size: 27px;
        font-weight: 500;
        font-style: italic;
    }
    .image-card {
        width: 160px;
        height: 200px;
    }
    .image-card img {
        width: 160px;
        height: 150px;
    }
    .trend-text {
        font-size: 20px;
        margin-left: 5px;
    }
    .scroll-poster {
        margin-bottom: 20px;
    }
    .trend {
        width: 100%;
        margin-left: 6px;
    }
}